.card-header{
    display: flex;
}

.company-name{
    color: hsl(180, 29%, 50%);
    margin-right: 1em;
}

.newly-created,
.featured{
    background-color: hsl(180, 29%, 50%);
    color: white;
    padding: .5em .6em .3em .6em;
    border-radius: 1000px;
    margin-left: 1em;
}

.featured{
    background-color: hsl(180, 14%, 20%);
}